header a {
  font-size:        2.5rem;
  font-family:      "Josefin Slab", Helvetica,Arial,sans-serif;
  margin-left:      2.5rem;
}
.navbar-fixed-top {
    position:       fixed;
    right:          0;
    left:           0;
    z-index:        1030;
    top:            0;
}

a:link {
    color:         black;
}
a:visited {
    color:         black;
}

.jumbotron {
  font-family: "Josefin Slab", Helvetica,Arial,sans-serif;
  background-image: url("/brick.jpg");
  background-size: cover;
  height:          83rem;
  align-items:     center;
  display:         flex;
}

.jumbotron h2 {
  color:           white;
  font-size:       7vw;
  font-weight:     bold;
  text-shadow:     4px 4px 4px #000000;
}
.jumbotron h3 {
  color:           white;
  font-size:       3.5vw;
  font-weight:     bold;
  text-shadow:     4px 4px 4px #000000;
}

.me h2 {
  font-family:     "Josefin Slab", Helvetica,Arial,sans-serif;
  font-size:       3rem;
  font-weight:     bold;
}
.me p {
  font-family:     "Josefin Slab", Helvetica,Arial,sans-serif;
  font-size:       2rem;
}

.me img {
  border-radius:   100%;
}

.projects {
  font-family:     "Josefin Slab", Helvetica,Arial,sans-serif;
  background-color:#e5d17b;
  padding-bottom:  5rem;
}
.projects h1 {
  margin-top:      6rem;
  font-weight:     bold;
  font-size:       4rem;
}
.projects h2 {
  margin-top:      5rem;
  font-weight:     bold;
}

.projects button {
  background-color:black;
}

.background {
  font-family:    "Josefin Slab", Helvetica,Arial,sans-serif;
  padding-bottom: 5rem;
}
.background img {
  margin:         .8rem;
  height:         200px;
  width:          200px;
}
.background h1 {
  margin:          6rem;
  font-weight:     bold;
  font-size:       4rem;
}
.background h2 {
  margin:         2rem;
}
ul {
  list-style-type:circle;
}
.break {
  margin-top:     3rem;
  border-top:     2px solid grey;
}

footer {
  margin:         3rem;
  border-top:     2px solid grey;
}
