body {
	font-family: 'Source Code Pro', monospace;
	background-color: #f9dbe4;
}
strong {
	color: #10b5ac;
}
/*=========*/
.jumbotron { 
	/*Q7PclNhVRI0*/
	/*background-image: url("http://source.unsplash.com/jR4Zf-riEjI");*/
	/*background-size: cover;*/
	background-color: #f9dbe4;
	height:          40rem;
	align-items:     center;
	display:         flex;
}
.jumbotron h2 {
  color:           white;
  font-size:       6.5vw;
  /*font-weight:     bold;*/
  text-shadow:     4px 4px 4px #000000;
}
.jumbotron h3 {
  color:           white;
  font-size:       3vw;
  /*font-weight:     bold;*/
  text-shadow:     4px 4px 4px #000000;
}
/*=========*/
#mepic {
	border-radius: 50%;
}

.top {
	padding-left: 10rem; 
}
.cds {
	/*color: #3affff;*/
	font-weight: bold;
}

#mediaicons a {
	color: #5fdd8b;
}
#profile h3, h2 {
	color: #7142f4;
}
#interests li { 
  display: inline;
}


/*=========*/
.projects {
	margin-bottom: 5rem;
	font-weight: bold;
}
.projects a {
	color: #7142f4;
	font-size: 20px;
	font-weight: 300;
}
.projects img {
	display: block;
    margin: 0 auto;
}
/*=========*/
#assets img {
	display: block;
    margin: 0 auto;
}

#assets p {
	margin-top: 15px;
	color: #7142f4;
}

.hideSection {
	display: none;
}

.folder {
	color: #037f6c;
}

.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}
